<h1>
  Contact Form:-
  <hr />
</h1>
<pre
  >{{ contactForm.value | json }}
</pre>
<form [formGroup]="contactForm">
  <section class="error-section" *ngIf="hasFormErrors">
    <ul>
      <li *ngIf="!!contactForm.controls.email.errors">Invalid email!</li>
      <li *ngIf="!!contactForm.controls.pincode.errors">Invalid pincode</li>
    </ul>
  </section>

  <!-- <div class="form-group"> -->
  <input formControlName="name" type="text" name="name" placeholder="Name" />
  <!-- </div> -->
  <input
    formControlName="email"
    class="{{ !!contactForm.controls.email.errors ? 'error' : '' }}"
    [ngClass]="hasEmailError"
    type="email"
    name="email"
    placeholder="Email"
  />
  <input
    formControlName="contact"
    type="text"
    name="contact"
    placeholder="Contact"
  />
  <input
    formControlName="pincode"
    type="text"
    [ngClass]="{ error: !!contactForm.controls.pincode.errors }"
    name="pincode"
    placeholder="Pincode"
  />

  <button (click)="addAddress()">Add Address</button>
  <div formArrayName="addresses" *ngFor="let item of addresses">
    <div [formGroup]="item">
      <input type="text" formControlName="streetname" name="streetname" />
      <input type="text" formControlName="pincode" name="pincode" />
    </div>
  </div>

  <button type="button" (click)="saveContactForm()">Save</button>
</form>
